body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#thala {
    font-size: 20px;
    margin-top: 20px;
}

#sumofno {
    font-size: 24px;
    color: #4CAF50;
}
